:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.sidenav-container {
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.sidenav {
  width: 240px !important;
  min-width: 240px !important;
  max-width: 240px !important;
  padding: 1rem 0.75rem;
  border-right: 1px solid var(--border-color);
  background-color: var(--bg-sidebar);
  overflow-y: auto;
}

.sidenav-content {
  padding: 1.75rem 1.5rem;
  overflow-y: auto;
  flex: 1;
  background-color: var(--bg-primary);
}
